<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<section th:fragment="addGrade" class="well">
     <div class="presence-header space">
            <span class="section-title">Dodawanie ocen</span>
        </div>
        <!-- Input z opisem i wagą -->
        <form action="/e-dziennik/grades/add" class="seminor-login-form" method="post" th:object="${addGradeForm}">
            <input type="hidden" th:value="${meetingId}" th:field="*{meetingId}">
            <input type="hidden" th:value="${#dates.format(date, 'dd.MM.yyyy')}" th:field="*{date}">
        <div>
            <!--Opis: <input type="text" th:field="*{description}"> -->
            <div class="form-group shadow-textarea">
                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Opis" th:field="*{description}"></textarea>
            </div>
            <!-- Nie wiem jak przypisac z select'a do *{weight} -->
            <!--<input type="number" th:field="*{weight}"> -->
            <div class="form-group">
                <div class="input-group">
                    <select th:field="*{weight}" class="custom-select">
                        <option th:value="1" value="1">1</option>
                        <option th:value="2" value="2">2</option>
                        <option th:value="3" value="3">3</option>
                        <option th:value="4" value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Tutaj wyświetlana jest lista studentów. Obok każdego wyświetlamy select z dostępnymi ocenami -->
        <div>
            <table class="table grades-table">
                <thead class="add-grades-thead">
                    <tr>
                        <th style="width: 170px !important;">Imię</th>
                        <th style="width: 170px !important;">Nazwisko</th>
                        <th style="width: 320px !important;">Oceny</th>
                        <th style="width: 100px !important;">Średnia</th>
                        <th style="text-align: center !important; width: 125px !important;">Dodaj ocene</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="student,iterStat : *{students}">
                    <!-- Imie -->
                    <td th:text="${student.firstName}"></td>
                    <!-- Nazwisko -->
                    <td th:text="${student.surname}"></td>
                    <td>
                        <th:block th:each="grade : ${gradeMap.get(student)}">
                            <!--<span th:text="${#numbers.formatDecimal(grade.gradeDetails.mark, 0, T(Math).round(grade.gradeDetails.mark) == grade.gradeDetails.mark ? 0 : 1)} + '&emsp;'"></span> -->
                            <div class="popup" th:onclick="'myFunction(\'' + ${grade.gradeDetails.id} + '\');'" th:class="'popup ' + (${grade.gradeDetails.mark} < 2.0 ?insufficient:'')"
                            >
                                <span th:text="${#numbers.formatDecimal(grade.gradeDetails.mark, 0, T(Math).round(grade.gradeDetails.mark) == grade.gradeDetails.mark ? 0 : 1)}"></span>
                                <span class="popuptext" th:id="'popup' + ${grade.gradeDetails.id}" th:text="'Ocena: ' + ${#numbers.formatDecimal(grade.gradeDetails.mark, 0, T(Math).round(grade.gradeDetails.mark) == grade.gradeDetails.mark ? 0 : 1)} + ' Waga: ' + ${grade.gradeDetails.weight} + ' Opis: ' + ${grade.gradeDetails.title}"></span>
                            </div>
                        </th:block>
                    </td>
                    <td>
                        <span th:text="${#numbers.formatDecimal(gradeMap.get(student)[0].avgGrade, 0, T(Math).round(gradeMap.get(student)[0].avgGrade) == gradeMap.get(student)[0].avgGrade ? 0 : 1)}"></span>
                    </td>
                    <td>
                        <div class="form-check ">
                            <input type="hidden" th:name="studentId" th:field="*{students[__${iterStat.index}__].id}" readonly="true"/>
                            <select th:field="*{students[__${iterStat.index}__].grade}" class="custom-select">
                                <option th:value="0" selected>Brak</option>
                                <option th:value="'1'" th:text="1"></option>
                                <option th:value="'1.5'" th:text="1.5"></option>
                                <option th:value="'2'" th:text="2"></option>
                                <option th:value="'2.5'" th:text="2.5"></option>
                                <option th:value="'3'" th:text="3"></option>
                                <option th:value="'3.5'" th:text="3.5"></option>
                                <option th:value="'4'" th:text="4"></option>
                                <option th:value="'4.5'" th:text="4.5"></option>
                                <option th:value="'5'" th:text="5"></option>
                                <option th:value="'5.5'" th:text="5.5"></option>
                                <option th:value="'6'" th:text="6"></option>
                            </select>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-end">
            <div class="col-4">
                <!-- href na plan : /edziennik/meetings -->
                <button type="button" class="btn btn-sm btn-secondary btn-block" onclick="returnToMeetings();">Anuluj</button>
            </div>
            <div class="col-4">
                <button class="btn btn-sm btn-primary btn-block" type="submit">Zapisz</button>
            </div>
        </div>
    </form>
</section>