<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Fragment komponentu prazentujący listę spotkań dla zalogowanego użytkownika (jeżeli takie spotkania może mieć) -->
<section th:fragment="grades" class="well">
    <div class="greades-header">
        <span class="section-title">Oceny</span>
    </div>
    <table class="table grades-table">
        <thead>
            <tr>
                <th class="subject"><span>Przedmiot</span></th>
                <th class="grades"><span>Oceny</span></th>
                <th class="average-grade"><span>Średnia</span></th>
                <th class="final-grade"><span>Ocena końcowa</span></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${grades}">
                <th class="subject"th:text="${subject.key}"><span>informatyka</span></th>

                    <th class="grades">
                        <th:block th:each="grade : ${subject.value}">
                            <div th:text="${#numbers.formatDecimal(grade.gradeDetails.mark, 0, T(Math).round(grade.gradeDetails.mark) == grade.gradeDetails.mark ? 0 : 1)}">1</div>
                        </th:block>
                        <!-- Wyświetlenie informacji o typie oceny: ${grade.gradeDetails.title}-->
                        <!-- Wyświetlenie informacji o wadze oceny: ${grade.gradeDetails.weight}-->
                        <!-- Wyświetlenie informacji o dacie oceny: ${grade.gradeDetails.date}-->
                        <!-- Wyświetlenie informacji o tym kto ją wystawił: ${grade.gradeDetails.teacherName}-->
                    </th>
                <th class="average-grade"><span>2</span></th>
                <th class="final-grade"><span>2</span></th>
            </tr>
        </tbody>
    </table>

</section>

</html>