<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Fragment komponentu prazentujący listę spotkań dla zalogowanego użytkownika (jeżeli takie spotkania może mieć) -->
<section th:fragment="grades" class="well">
    <div class="greades-header">
        <span class="section-title">Oceny</span>
    </div>
    <table class="table grades-table">
        <thead>
            <tr>
                <th class="subject"><span>Przedmiot</span></th>
                <th class="grades"><span>Oceny</span></th>
                <th class="average-grade"><span>Średnia</span></th>
                <th class="final-grade"><span>Ocena końcowa</span></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${grades}">
                <th class="subject"th:text="${subject.key.subjectName}"><span>informatyka</span></th>

                    <th class="grades">
                        <th:block th:each="grade : ${subject.value}">
                            <!-- Próbowałem dodać tutaj klasę css jeżeli ocena jest niższa niż 2. Stworzyłem klasę o nazwie 'insufficient', ale kolor jest nadpisywany przez coś innego
                              więc do poprawy dla frontu -->
                            <div class="popup" th:onclick="'myFunction(\'' + ${grade.id} + '\');'" th:class="${grade.mark} < 2.0 ?insufficient:' popup'"
                                 >
                                <span th:text="${#numbers.formatDecimal(grade.mark, 0, T(Math).round(grade.mark) == grade.mark ? 0 : 1)}"></span>
                                <span class="popuptext" th:id="'popup' + ${grade.id}" th:text="'Ocena: ' + ${#numbers.formatDecimal(grade.mark, 0, T(Math).round(grade.mark) == grade.mark ? 0 : 1)} + ' Waga: ' + ${grade.weight} + ' Opis: ' + ${grade.title}"></span>
                            </div>

                        </th:block>
                        <!-- Wyświetlenie informacji o typie oceny: ${grade.title}-->
                        <!-- Wyświetlenie informacji o wadze oceny: ${grade.weight}-->
                        <!-- Wyświetlenie informacji o dacie oceny: ${grade.date}-->
                        <!-- Wyświetlenie informacji o tym kto ją wystawił: ${grade.teacherName}-->
                    </th>
                <th class="average-grade">
                    <span th:text="${#numbers.formatDecimal(subject.key.avgGrade, 0, T(Math).round(subject.key.avgGrade) == subject.key.avgGrade ? 0 : 2)}">2</span>
                </th>
                <th class="final-grade"><span></span></th>
            </tr>
        </tbody>
    </table>

</section>

</html>