<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Fragment - górna belka -->
<section class="navigation-top" th:fragment="header">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/e-dziennik">
            <img th:src="@{/images/logo.png}" class="logo d-inline-block align-top" alt="logo">
            E-Dziennik
        </a>
        <span sec:authorize="hasAuthority('ADMIN') || hasAuthority('STUDENT')" class="navbar-text" th:text="'Zalogowano jako ' +  ${name}"></span>
        <form sec:authorize="hasAuthority('ADMIN') || hasAuthority('STUDENT')" class="form-inline">
            <button class="btn btn-outline-danger my-2 my-sm-0"><a th:href="@{/logout}">Wyloguj się</a></button>
        </form>
    </nav>
</section>
</html>
