<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Fragment komponentu prazentujący listę spotkań dla zalogowanego użytkownika (jeżeli takie spotkania może mieć) -->
<section th:fragment="meetings" class="well">
    <div class="meetings-header">
        <span class="section-title">Najbliższe spotkania</span>
    </div>

    <table class="table table-responsive" align="center">
        <thead class="thead-dark">
        <tr>
            <th th:each="day : ${schedule.scheduleDays}">
                <span th:text="${day.weekName}"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i: ${#numbers.sequence(1,10)}">
            <th:block th:each="day : ${schedule.scheduleDays}">
                <th:block th:each="meeting : ${day.meetings}">
                    <th:block th:if="${meeting.meetingNumber == i}">
                        <td>
                            <th:block th:if="${meeting.subjectName != null}">
                                <div th:text="${#dates.format(meeting.startTime, 'HH:mm')} + ' - ' + ${#dates.format(meeting.endTime, 'HH:mm')}"></div>
                                <div th:text="${meeting.subjectName}"></div>
                            </th:block>
                        </td>
                    </th:block>
                </th:block>
            </th:block>
        </tr>
        </tbody>
    </table>


        <!--<table class="table table-responsive" align="center">
            <thead class="thead-dark">
            <tr>
                <th th:each="day : ${schedule.scheduleDays}">
                    <span th:text="${day.weekName}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="day : ${schedule.scheduleDays}">
                <th:block th:each="meeting : ${day.meetings}">
                    <td class="tablechow">
                        <th:block th:if="${meeting.subjectName != null}">
                            <div th:text="${#dates.format(meeting.startTime, 'hh:mm')} + ' - ' + ${#dates.format(meeting.endTime, 'hh:mm')}"></div>
                            <div th:text="${meeting.subjectName}"></div>
                        </th:block>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>-->
</section>
</html>