<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Fragment komponentu prazentujący listę spotkań dla zalogowanego użytkownika (jeżeli takie spotkania może mieć) -->
<section th:fragment="meetings" class="well">
    <div class="meetings-header">
        <span class="section-title">Najbliższe spotkania</span>
    </div>
    <table class="table table-responsive" align="center">
        <thead class="meetings-thead">
        <tr>
            <th class="meetings-date" th:each="meeting: ${meetings}">
                <span th:text="${#dates.format(meeting.key, 'dd-MM-yyyy')}"></span>
            </th>
        </tr>
        </thead>
        <tbody class="meetings-tbody">
        <tr th:each="meeting: ${meetings}">
            <th:block th:each="startHour,iter : ${startHours}">
                <td th:if="${iter.index < #lists.size(meeting.value)}">
                    <span th:text="${#dates.format(meeting.value[iter.index].startTime, 'hh:mm')} + ' - '+  ${#dates.format(meeting.value[iter.index].endTime, 'hh:mm')}"></span>
                    <span th:text="${meeting.value[iter.index].title}"></span>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>
</section>
</html>