<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<section th:fragment="details" class="well">
    <th:block sec:authorize="hasAuthority('TEACHER')">
        <div>
            <!-- To jest nagłówek fragmentu szczegółów spotkania. Posiada on dwa przyciski : "lista obecności" oraz "dodaj ocenę"
             Przyciski te ładują odpowiednie fragmenty -->
            <a th:onclick="'openPresence(\'' + ${#dates.format(date, 'dd.MM.yyyy')} + '\', \'' + ${meetingId} + '\');'">lista obecności</a>
            <a th:onclick="'openAddGrade(\'' + ${#dates.format(date, 'dd.MM.yyyy')} + '\', \'' + ${meetingId} + '\');'">dodaj ocenę</a>
        </div>

        <!-- Tutaj ładowny jest widok dla listy obecności oraz dodawania oceny. Domyślnie jest on pusty -->
        <div id="content-inner">

        </div>
    </th:block>
</section>
</html>