<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<section th:fragment="details" class="well">
    <th:block sec:authorize="hasAuthority('TEACHER')">
        <div>
            <!-- To jest nagłówek fragmentu szczegółów spotkania. Posiada on dwa przyciski : "lista obecności" oraz "dodaj ocenę"
             Przyciski te ładują odpowiednie fragmenty -->
            <div id="button-group" class="btn-toolbar center-buttons-group toolbar-margin" role="toolbar">
                <div class="btn-group" role="group">
                    <div class="btn-group special-margin" role="group">
                        <a type="button" class="btn btn-lg btn-secondary" style="color: white !important;" th:onclick="'openPresence(\'' + ${#dates.format(date, 'dd.MM.yyyy')} + '\', \'' + ${meetingId} + '\');'">Lista obecności</a>
                    </div>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-lg btn-secondary" style="color: white !important;" th:onclick="'openAddGrade(\'' + ${#dates.format(date, 'dd.MM.yyyy')} + '\', \'' + ${meetingId} + '\');'">Dodaj ocene</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Tutaj ładowny jest widok dla listy obecności oraz dodawania oceny. Domyślnie jest on pusty -->
        <div id="content-inner">

        </div>
    </th:block>
</section>
</html>