<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="meetings">
        <th:block th:each="meeting : ${meetings}">
            <div th:text="${#dates.format(meeting.date, 'dd-MM-yyyy')}"></div>
            <div th:text="${#dates.format(meeting.startTime, 'hh:mm')} + '-'+  ${#dates.format(meeting.endTime, 'hh:mm')}"></div>
            <div th:text="${meeting.title}"></div>
        </th:block>
    </div>
</body>
</html>