<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Fragment komponentu prazentujący listę spotkań dla zalogowanego użytkownika (jeżeli takie spotkania może mieć) -->
<section th:fragment="details" class="well">
    <div>
        <span th:text="'klasa: ' +  ${className}"></span>
        <span th:text="'Data: ' +  ${#dates.format(presentForm.date, 'dd.MM.yyyy')}"></span>
        <span th:text="'Przedmiot: ' +  ${subjectName}"></span>
    </div>
    <form action="/e-dziennik/meetings/save" method="post" th:object="${presentForm}">
        <input th:type="hidden" th:name="date" th:value="${#dates.format(presentForm.date, 'dd.MM.yyyy')}">
        <input th:type="hidden" th:name="meetingId" th:value="${presentForm.meetingId}">
        <th:block th:each="student : ${presentForm.presents}">
            <div>
                <span th:text="${presentForm.key.firstName} + ' ' + ${presentForm.key.secondName} + ' ' + ${presentForm.key.surname}"></span>
                <input th:type="checkbox" th:name="${presentForm.key.id}" th:value="${presentForm.value}">
            </div>
        </th:block>
        <input th:type="submit" th:value="Zapisz">
    </form>
</section>
</html>