<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="navigation">
    <div class="row" style="margin-right: 5px;">
        <div class="menu position-f well">
            <ul class="nav nav-list">
                <li>
                    <a class="menu-element section-link" href="/e-dziennik/meetings">terminarz spotkań</a>
                </li>
                <li>
                    <a class="menu-element section-link" href="/e-dziennik/ogloszenia">Ogłoszenia</a>
                </li>
                <li>
                    <th:block sec:authorize="hasAuthority('TEACHER')">
                        <a class="menu-element section-link" href="/e-dziennik/grades/edit">Edycja ocen</a>
                    </th:block>
                    <th:block sec:authorize="hasAuthority('STUDENT')">
                        <a class="menu-element section-link" href="/e-dziennik/grade">Moje oceny</a>
                    </th:block>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>