<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<div th:fragment="navigation">
    <div class="row">
        <div class="col navigation-container">
            <div class="nav-node">
                <a href="#">Ogłoszenia</a>
            </div>
            <div class="nav-node">
                <a href="#">Strona domowa</a>
            </div>
            <div class="nav-node">
                <a href="#">Terminarz spotkań</a>
            </div>
            <div class="nav-node">
                <a href="#">Moje oceny</a>
            </div>
            <div class="nav-node">
                <a href="#">Moja klasa</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>