<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<!-- Fragment od nawigacji wyświetlający linki do innych funkcjonalności. Każdy link pozwoli na asynchroniczne pobranie
    zawartości i wklejenie jej w sekcje content -->
<div th:fragment="navigation">
    <div class="row">
        <div class="col navigation-container">
            <div class="nav-node">
                <a class="section-link" href="/e-dziennik/ogloszenia">Ogłoszenia</a>
            </div>
            <div class="nav-node">
                <a href="/e-dziennik">Strona domowa</a>
            </div>
            <div class="nav-node">
                <a class="section-link" href="/e-dziennik/meetings">Terminarz spotkań</a>
            </div>
            <div class="nav-node">
                <a class="section-link" href="/e-dziennik/grades">Moje oceny</a>
            </div>
            <div class="nav-node">
                <a class="section-link" href="/e-dziennik/klasa">Moja klasa</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>