<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<section th:fragment="presence" class="well">
    <th:block sec:authorize="hasAuthority('TEACHER')">
        <div class="presence-header space">
            <span class="section-title">Sprawdzenie obecności</span>
        </div>
        <div class="container">
                <form action="/e-dziennik/meetings/save" class="form-presence" method="post" th:object="${presentForm}">
                    <input th:type="hidden" name="date" th:value="${presentForm.date}">
                    <input th:type="hidden" name="meetingId" th:value="${presentForm.meetingId}">
                <!--
                <div class="row">
                    <div class="col-3">
                        <select class="custom-select space">
                            <option selected>Numer lekcji</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                            <option value="3">7</option>
                            <option value="3">7</option>
                        </select>
                    </div>
                    <div class="col-4"> -->
                <!-- To powinnismy odebrac z api -->
                <!--<select class="custom-select space">
                    <option selected>Klasa</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">7</option>
                    <option value="3">7</option>
                </select>
            </div>
        </div> -->

                <div class="row">
                    <div class="col list-border space">
                        <table class="table students-table">
                            <thead>
                            <tr>
                                <th class="name"><span>Imie</span></th>
                                <th class="surname"><span>Nazwisko</span></th>
                                <!-- <th class="grades"><span>Oceny</span></th> -->
                                <th class="presence"><span>Obecność</span></th>
                            </tr>
                            </thead>

                            <tbody>
                            <!-- Wylistowanie wszyskich danych -->
                            <tr th:each="student,iterStat : *{students}">
                                <!-- Imie -->
                                <td th:text="${student.firstName}"></td>
                                <!-- Nazwisko -->
                                <td th:text="${student.surname}"></td>
                                <!--<td>4</td> -->
                                <td>
                                    <div class="form-check ">
                                        <!-- Dodac zmiane flagi dla danego obiektu -->
                                        <input type="hidden" th:name="studentId" th:field="*{students[__${iterStat.index}__].id}" readonly="true"/>
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:field="*{students[__${iterStat.index}__].present}" th:checked="${student.present}"/>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-4">
                        <!-- href na plan : /edziennik/meetings -->
                        <button type="button" class="btn btn-sm btn-secondary btn-block" onclick="returnToMeetings();">Anuluj</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-sm btn-primary btn-block" type="submit">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</section>

</html>