<!-- Szablon strony domowej -->
<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>E-dziennik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/mdb.min.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/example.css}">
    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/load.js"></script>
    <script src="js/justTest.js"></script>
</head>
<body style="overflow-x: hidden;">
<div class="container-fluid">

</div>
<header th:insert="~{fragments/header :: header}" class="sticky-top">
    <!-- th:insert dla fragmentu wyświetlającego górną belkę. Zawierać będzie logo, kto jest zalogowany i link do wylogowania
      Umieszczone statycznie bo nie będzie potrzeby zmieniać jego zawartości -->
</header>

<div class="row main-row">
    <div class="col-md-2 col-sm2" th:insert="~{fragments/navigation :: navigation}">
        <!-- th:insert dla fragmentu wyświetlającego menu po lewej stronie. Zawierać będzie linki do funkcjonalności
            Umieszczone statycznie bo nie będzie potrzeby zmieniać jego zawartości -->
    </div>
    <div class="col-md-10 col-sm-10 main">
        <section id="content">
            <!-- Widok wybrany z nawigacji. Będzie dodawany asynchronicznie po wybraniu linka z nawigacji po lewej za pomocą ajax -->
        </section>
    </div>
</div>

</body>
<script src="css/bootstrap.bundle.min.js"></script>
<script src="js/links.js"></script> <!-- Funkcja dla linków aby dodawały zawartość do sekcji content -->
<script src="js/justTest.js"></script>
</html>
