<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>E-Dziennik</title>


    <link href="CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>

<nav class="navbar navbar-fixed-top navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><img th:src="@{/images/logo.png}" class="img-responsive" width="65" height="65" alt="logo">
         e-dziennik</a>
    <form class="form-inline">
        <button class="btn btn-outline-danger my-2 my-sm-0 btn-lg" type="submit">Wyloguj</button>
    </form>

</nav>

<div class="container-fluid" style="margin-top: 15px">

    <div class="row">
        <div class="col">
        <div class="menu position-f well">
            <ul class="nav nav-list">
                <li>
                    <a class="menu-element section-link" href="/e-dziennik/meetings">terminarz spotkań</a>
                </li>
                <li>
                    <a class="menu-element section-link" href="/e-dziennik/ogloszenia">Ogłoszenia</a>
                </li>
                <li>
                    <a class="menu-element section-link" href="/e-dziennik/grades">oceny</a>
                </li>
                <li>
                    <a class="menu-element section-link" href="/e-dziennik/klasa">moja klasa</a>
                </li>
            </ul>
        </div>
        </div>
        <div class="col col-10">
            <div class="bg-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis est in tortor porta posuere. Aliquam id pretium erat. Sed vitae massa lectus. Fusce vel commodo erat. Curabitur cursus, ex id semper tincidunt, diam lorem mollis orci, et malesuada sem ipsum nec ligula. Nulla facilisi. In egestas nibh eros, id condimentum enim ultrices eu. In in cursus augue. Nulla commodo a orci dignissim blandit. Vestibulum eu faucibus lacus, eu viverra dui. Nulla congue, libero eget facilisis venenatis, neque nisl ultricies ex, a eleifend massa arcu eget neque. Morbi convallis at magna id maximus. Duis sit amet vehicula turpis.

                In nec dolor consequat, scelerisque dui quis, pharetra nulla. Nunc vitae massa dui. Ut porta cursus lacinia. Etiam metus neque, dignissim lacinia massa eget, fermentum commodo leo. Nam iaculis vestibulum ligula quis egestas. Sed sodales quam quis dictum lobortis. Proin quis dapibus lorem, in lacinia est. Vestibulum sem felis, sollicitudin eu est dapibus, consequat vehicula tellus. Etiam vitae massa et quam pretium vehicula fringilla ac magna. Ut libero urna, interdum eget rhoncus at, bibendum sed augue. Donec in tortor quis ante porttitor vulputate. Phasellus in ex vitae sapien pulvinar feugiat quis in diam. Integer eleifend orci nec mi blandit mattis.

                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ligula neque, placerat sed enim in, suscipit volutpat massa. Vestibulum scelerisque sollicitudin risus, aliquet fermentum neque elementum eu. Vivamus rhoncus ligula sit amet felis tincidunt rhoncus. Suspendisse ac euismod odio. Donec eleifend vehicula sem. Fusce rhoncus blandit nisi, ut sodales leo dapibus et. Nam interdum ex et eros vehicula suscipit. Suspendisse tincidunt lobortis ante, a aliquet enim finibus id. Donec lacinia finibus nunc, at malesuada quam consequat a. Nam sit amet metus vestibulum, venenatis dolor non, hendrerit risus. Nam eros magna, tristique vel sem eu, efficitur rhoncus turpis. Nullam non sapien feugiat, hendrerit purus at, faucibus massa. Phasellus id consectetur nisi, sit amet mollis ex. Quisque sem elit, bibendum at mauris vel, placerat convallis purus. Mauris risus lectus, sagittis vel felis at, sollicitudin auctor lacus.

                Aliquam nec gravida nisl. Nulla eget sagittis sapien. Ut vulputate velit sed metus tempus sodales. Duis laoreet viverra urna eget ullamcorper. Donec suscipit sollicitudin elit, a rhoncus magna dictum aliquet. Fusce consequat augue molestie, mollis nisi dapibus, volutpat dolor. Nunc accumsan placerat pharetra. Fusce nunc elit, venenatis vitae mollis ut, faucibus eget ligula. Donec efficitur arcu ut dapibus aliquam.

                Morbi maximus erat bibendum elementum dapibus. Donec in vulputate sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vestibulum tempor iaculis. Proin in sapien rutrum, pellentesque ipsum euismod, ornare dolor. Nullam mollis nec lectus in pellentesque. Nulla aliquam pharetra justo, quis sagittis leo scelerisque ut. Etiam finibus mi nec ex interdum, et posuere nulla iaculis.</div>
        </div>
    </div>

</div>




</body>
</html>