<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col">
                <a th:href="@{/logout}">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                NAVIGATION
            </div>
            <div class="col" th:insert="~{fragments/meetings :: meetings}">
                CONTENT
            </div>
        </div>
        <div class="col">
            footer
        </div>
    </div>
</body>
</html>