<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>edziennik</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="CSS/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>
    <img th:src="@{/images/logo.png}" class="w3-round" alt="logo">
    e-dziennik</h1>
<div class="formularz">
    <div class="alert alert-danger" th:if="${param.error != null}">
        <p>Podane dane są błędne, lub użytkownik nie istnieje.</p>
    </div>
    <div class="alert alert-success" th:if="${param.logout != null}">
        <p>Wylogowano z systemu.</p>
    </div>
    <form id="login" th:action="@{/login}" th:method="post">
        <div class="header">
            <h3> logowanie:</h3>
            <p>Wprowadź następujące pola by zalogować się do systemu</p>
        </div>
        <div class="sep"></div>
        <div class="imputs">
            <label for="email">E-mail</label>
            <input id="email" th:type="email" th:name="email" placeholder="Adres email" autofocus/><br>
            <div class="sep"></div>
            <br/>
            <label for="password">Hasło</label>
            <input id="password" th:type="password" th:name="password" placeholder="Hasło"/><br>

            <input class="submit-button" th:type="submit" th:value="Logowanie"/>
        </div>
    </form>
</div>

</body>

<script src="js/jquery/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</html>