<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>E-dziennik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <!-- Tutaj musimy wczytać top -->
</header>
<div class="col-md-2 col-sm2">
    <!-- Tutaj musi być wczytane menu po zalogowaniu -->
</div>
<div class="col-md-10 col-sm-10">
    <section id="content" class="main">
        <!-- Tutaj wczytujemy widok wybrany z nawigacji -->
    </section>
</div>

</body>

<script src="js/jquery/jquery.min.js"></script>
<script src="css/bootstrap.bundle.min.js"></script>
</html>